.stNavBarWrapper {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 15px;
position: sticky;
top: 0;
width: 100% !important;
// width: 100% !important;
.stImageswrapper{
    display: flex;
    img{
        width: 50px;
        height: 40px;
    }
}
  h2 {
    margin: 0;
    padding: 0;
    color: white;
  }

  .stUnorderlistWrapper {
    ul {
      display: flex;
      gap: 40px; 
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          color: white;
          text-decoration: none;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
