.timelineSection {
    padding: 80px 20px;
    background: #f9fafc;
    text-align: center;

}

.heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
    color: #111;
}

.timelineWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.timelineItem {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

.timelineItem.active {
    opacity: 1;
    transform: translateY(0);
}

.year {
    width: 50px;
    height: 50px;
    background: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 14px;
    z-index: 2;
    box-shadow: 0 0 0 8px rgba(255, 0, 0, 0.1);
}

.card {
    background: white;
    padding: 20px 25px;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    flex: 1;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px rgba(255, 0, 0, 0.1);
    border-color: rgba(255, 0, 0, 0.2);
}

.card h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.card p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}
@media (max-width: 768px) {
    .timelineSection {
        padding: 48px 16px 24px;
    }

    .timelineItem {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card {
        text-align: center;
    }
}

@media screen and (max-width:426px) {
    .timelineSection {
        padding: 36px 12px 18px !important;
    }

}
