* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: black;

  .zoom-section {
    height: 300vh; 
    position: relative;

    .sticky-wrapper {
      position: sticky;
      top: 0;
      height: 100vh;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Performance smooth-ah irukka ithu venum */
        will-change: transform; 
      }

      .text-overlay {
        position: absolute;
        color: white;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }

  .content-section {
    position: relative;
    z-index: 10;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2 {
      font-size: 2rem;
      color: #333;
    }
  }
}