
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}
html {
  scroll-behavior: auto;
}

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden; 
}
.custom-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}