* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden; 
}
.custom-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}